*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 250px;
    height: 300px;
    margin:0em 0em 2em;
}
.h1{
    background-color: black;
    color: white;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid black;
    outline: none;
    padding: 1em;
}

